.organicstore {
    .ogenix {
        background-color: #305322;

        .container {
            margin: 0 auto;
            max-width: 1252px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            padding: 0 70px 0 60px;

            .social {
                display: flex;
                align-items: center;

                p {
                    font-family: "Manrope";
                    font-size: 13px;
                    line-height: 1.2em;
                    color: #91A589;
                }

                .icon {
                    height: 45px;
                    background-color: #223D17;
                    padding: 10px 34px 9px 34px;
                    line-height: 1;

                    i {
                        font-size: 13px;
                        margin-right: 8px;
                        color: #fff;
                    }
                }
            }

            .items {
                display: flex;

                .item {
                    color: #91A589;
                    font-size: 13px;

                    i {
                        color: #FFBD3C;
                        font-size: 12px;
                        margin: 0 8px;
                    }
                }
            }
        }
    }

    .shop {
        .container {
            display: flex;

            justify-content: space-between;
            .all {
                display: flex;
                .logo {
                    background-color: #305322;
                    padding: 15px;

                    img {
                        width: 104px;
                        height: 63px;
                    }
                }

                .menu {
                    display: flex;
                    align-items: center;

                    li {
                        padding: 13px 30px;

                        a {
                            font-size: 16px;
                            font-weight: 500;
                            color: #7d8978;
                        }
                    }
                }

            }

            .search {
                display: flex;
                align-items: center;
            }
        }
    }
}